.image-list{
    columns: 6 200px;
    column-gap: 10px;
    margin: 40px;
   
}
img{
    width: 100%;
    margin-bottom: 10px;



}

.list-container {
    
    
    margin: 30px;
    
    border: 5px solid rgb(105, 161, 157);
}