.search-bar {
  border: 5px solid rgb(105, 161, 157);
  border-radius: 5px;
  padding: 50px;

}

.search-bar form {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.search-bar-title{
  font-size: 50px;
  margin: auto;
  line-height-step: 30px;
  padding-bottom: 50px;



}


.actual-bar{


width: auto;

line-height: 500%;



}